/*Tous les import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    /*cursor: url("<svg xmlns='https://www.w3.org/2000/svg' width='64' height='64' style='font-size: 64px'><text y='50'>👋</text></svg>");*/
    background-color: darkslategrey !important;
    margin: 0;
    padding: 0;
    font-family: "Caveat",cursive;
    color: white;
    font-size: 20px;
    --block-text-color: #222;
    --block-background-color: #fff;
    --block-accent-color: #00ae86;
    --block-shadow-color: #444;
}
.yellow {

    align-self: center;
    height: 100px;
    width: 100px;
    background-color: #1b79d7;
    position: relative;

}

.block {
    display: inline-block;
}

div.header {
    text-align: center;
}

div.list-gen {
    margin: 0;
}

div.list {
    width: 100%;
    border: none;
    background-color: rgb(30, 30, 30);
    text-align: center;
}

div.list-2 {
    width: 100%;
    border: none;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

div.list-contener {
    margin: 20px;
}

button {
    outline: none;
}

input {
    outline: none;
}

style1 {
    border-radius: 30px;
    border: 0;
}
.list-gen .list-contener{
    align-items: center;
    text-align: center;
}
a.link:hover {
    text-shadow: #000000 1px 0 10px;

}
a.link {
    color: salmon;
}