/*Tous les import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
    /*cursor: url("<svg xmlns='https://www.w3.org/2000/svg' width='64' height='64' style='font-size: 64px'><text y='50'>👋</text></svg>");*/
    background-color: #313131 !important;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 20px;
    --block-text-color: #222;
    --block-background-color: #fff;
    --block-accent-color: #00ae86;
    --block-shadow-color: #444;
}
.yellow {

    align-self: center;
    height: 100px;
    width: 100px;
    background-color: #1b79d7;
    position: relative;

}

.block {
    display: inline-block;
}

div.header {
    text-align: center;
}

div.list-gen {
    margin: 0;
}

div.list {
    width: 100%;
    border: none;
    background-color: rgb(30, 30, 30);
    text-align: center;
}
p.text {
    display: inline-block;
    size:30px !important;
    margin: 2px;
}

div.list-2 {
    right: 50px;
    padding: 6px;
    margin: 11px;
    width: 65%;
    border: orangered 3px solid;
    border-radius: 6px;
    background-color: rgb(50, 50, 50);
    text-align: center;
    font-family: "Caveat", cursive;
}

div.list-contener {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px;
    padding: 9px;

}

input[type='text'].style1 {
    padding: 5px 41px;
    margin-right: 11px;
    font-size: 29.5px;
    border-radius: 13px;
    font-family: "Caveat",cursive;
    border: orangered solid 2px;
    background-color: rgb(60, 60, 60);
    color: white;
}

button.style1 {
    padding: 10.5px 15.49px;
    font-size: 21px;
    font-family: "Caveat",cursive;
    border: #34A853 solid 2px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
}
button.style1:hover {
    animation: blinktext 1.5s infinite;
}

@keyframes blinktext {
    /*0%{opacity: 0;}*/
    25%{opacity: .5;}
    50%{opacity: 1;}
    75%{opacity: .5;}
    100%{opacity: 0;}
}

button.cancel {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
}

button {
    outline: none;
}

input {
    outline: none;
}

style1 {
    border-radius: 30px;
    border: 0;
    margin: 3px;
}
div.inner-arrange {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center !important;
}