/*Tous les import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    /*cursor: url("<svg xmlns='https://www.w3.org/2000/svg' width='64' height='64' style='font-size: 64px'><text y='50'>👋</text></svg>");*/
    background-color: #313131 !important;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 20px;
    --block-text-color: #222;
    --block-background-color: #fff;
    --block-accent-color: #00ae86;
    --block-shadow-color: #444;
}
.yellow {

    align-self: center;
    height: 100px;
    width: 100px;
    background-color: #1b79d7;
    position: relative;

}

.block {
    display: inline-block;
}

div.header {
    text-align: center;
}

div.list-gen {
    margin: 0;
}

div.list {
    width: 100%;
    border: none;
    background-color: rgb(30, 30, 30);
    text-align: center;
}

div.list-2 {
    width: 100%;
    border: none;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

div.list-contener {
    margin: 20px;
}

input[type='text'].style1 {
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 13px;
    font-family: 'Nunito', sans-serif;
    border: none;
    background-color: rgb(60, 60, 60);
    color: white;
}

button.style1 {
    padding: 15px 20px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
}

button.cancel {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 5px;
}

button {
    outline: none;
}

input {
    outline: none;
}

style1 {
    border-radius: 30px;
    border: 0;
}
